body{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.by_and_date{
    margin: 2rem;
    border-bottom: .1rem solid black;
    border-top: .1rem solid black;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}

.by_and_date > h3 > .By {
    font-size: 2rem;
    font-weight: 300;
}

.by_and_date > h3 > .date{
    margin-left: 1rem; font-size: 1.8rem; font-weight: 300;
}
