

    .article_title{
        margin: 1rem 2rem;
        text-align: center;
    }

    
    .article_title > h3 {
        font-size: 3.9rem;
        font-weight: 500;
    }
    @media only screen and (max-width: 1044px) {
        html {
            font-size: 79%;
        }
      }
    
      @media only screen and (max-width: 998px) {
        html {
            font-size: 55%;
        }
      }

      @media only screen and (max-width: 700px) {
        html {
            font-size: 45%;
        }
      }