.internal_topic_heading {
    top: 24rem;
    margin: 2rem;
}

.topic_note{
    display: flex;
    justify-content: left;
    background-color: #3D3D3D ;
}

.pencil {
    width: 5rem;
    position: relative;
    background-color: #DD0004;
    padding: 2.5rem;
}

.note_header {
    display: block;
    text-align: left;
}

.note_header > h3 
{
    margin-top: 1.3rem;
    font-size: 2.3rem;
    color: white;
    margin-left: 1rem;
    font-family:'Rubik',Arial,sans-serif;
    padding-bottom: 1rem;
    font-weight: 300;
}



@media only screen and (max-width: 1044px) {
    html {
        font-size: 79%;
    }
  }

  @media only screen and (max-width: 998px) {
    html {
        font-size: 55%;
    }
  }

  @media only screen and (max-width: 700px) {
    html {
        font-size: 45%;
    }
  }