.Component-HeaderLogo-img {
    width: 8rem;
    margin-top: 1.5rem;
    cursor: pointer;
}


.Component-HeaderLogo-img img {
    max-width:100%;
    max-height:100%;
}



@media only screen and (max-width: 998px) {
    html {
        font-size: 45%;
    }

    .Component-HeaderLogo-img {
        margin: .3rem;
        margin-top: .4rem;
    }
}


@media  only screen and (min-width: 768px){ 
    .component-hamburger-hamburger-header-body > *{
        display: none;
    }
    .Component-HeaderLogo-img {
        margin: 1rem
    }
}