* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    /* background-color:#232f3e; */
}

ul{
    display: flex;
    list-style-type:none;
    justify-content: center;
}

ul li{
    background: white;
    color:white;
    margin:.5rem;
    font-size:1.3rem;
}
.clrbtn{
    background: #e76d09;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    transition: background-color 0.5s, color 0.2s;
    cursor: pointer;

}

.btn:hover {
    background-color: #e76d09;
    /* border: 0.1px solid #e67e22; */
  }

  .background{
    background-image:url(/src/img/Hero-Cover-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    .intro-text {
        text-align: center;
        margin:7% 20% 0 20% ;
    }
    .navlist a:hover {
        background-color: #ddd;
        color: black;
    }
          
    /* styling search bar */
    .search input[type=text]{
        width: 8rem;;
        height:1.5rem;
        border-radius:25px;
        border: none;
    }
          
    .search{
        float:right;
        margin:0 0 0 .7rem;
        /* margin-top: 0rem; */
    }
          
    .search button{
        background-color: #05405e;
        color: #f2f2f2;
        float: right;
        padding: 0.3rem 0.2rem;
        /* margin-right: 16px; */
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
    } 

    .intro-text p {
        font-weight:normal;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @media only screen and (min-width: 200px) and (max-width: 700px) {
        .intro-text {
            margin: 5%;
        }
        .intro-text p {
            font-weight:normal;
            font-size: 1.5rem;
            line-height:normal;
        }

        cite {
            font-size: .8rem;
        }

        ul li{
            font-size: 1rem;
        }
 
    }
