*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Component-HeroImageForArticle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
        /* background-image: cover; */
}

.Component-HeroImageForArticle-picCourtesy {
    display:block;
    text-align:center
}