.LandPageLoginBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10rem;
    background-image: url(../img/stacked-peaks-haikei.svg);
    margin-bottom: 4rem;
}


.LandPageLoginDesc > img {
    max-height: 100%;
    max-width: 100%;
}
