*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .Component-Paragraphtitle-heading {
    display: block;
} */

.Component-Paragraphtitle-heading {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 3% 18% 0 18%;
    font-style: oblique;
    text-decoration: underline dashed;
}

@media only screen and (max-width: 767px) {

    .Component-Paragraphtitle-heading {
        margin: 3% 6% 0 6%;
      }
}


