*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .Component-Paragraphtitle-heading {
    display: block;
} */

.Component-Paragraphtitle-heading {
    font-weight: 400 bold;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 3% 18% 0 18%;
    font-style: oblique;
}

@media only screen and (max-width: 767px) {

    .Component-Paragraphtitle-heading {
        margin: 3% 0 0 2%;
        font-size: .9rem;
      }
}


