* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clrbtn{
    background: #e76d09;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    transition: background-color 0.5s, color 0.2s;
    cursor: pointer;

}
   
    /* styling search bar */
    .search input[type=text]{
        width: 8rem;;
        height:1.5rem;
        border-radius:25px;
        border: none;
    }
          
    .search{
        float:right;
        margin:0 0 0 .7rem;
        /* margin-top: 0rem; */
    }
          
    .search button{
        background-color: #05405e;
        color: #f2f2f2;
        float: right;
        padding: 0.3rem 0.2rem;
        /* margin-right: 16px; */
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
    } 

    .search-topic {
        text-align: center;
        margin:5% 20% 5% 20% ;
    }

    .search-field {
        width: 14rem; 
        height: 2.2rem;
        border-radius: 2rem;
    }
    button {
        margin-bottom: 15%;
    }
    .bor {
        border: 1px solid #05405e;
    }



    @media only screen and (min-width: 400px) and (max-width: 700px) {
        .search-field {
            width: 10rem; 
            height: 2.2rem;
            border-radius: 2rem;
            margin-top: 4.5rem;
        }

        input {
            margin-bottom: .3rem;
        }

        .search button{ 
            font-size: .7rem;
        }
    }


    @media only screen and (min-width: 200px) and (max-width: 400px) {
        .search-field {
            width: 10rem; 
            height: 2.2rem;
            border-radius: 2rem;
            margin-top: 1.5rem;

        }

        input {
            margin-bottom: .3rem;
        }

        .search button{ 
            font-size: .7rem;
        }
    }
